
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner">
    <div class="box h-200 bg-image-13">
        <div class="box-overlay text-left">
            <div class="container">
                <h1 class="box-heading box-heading-md p-b-0">About-Us</h1>
                <ul class="breadcrumbs">
                    <li><a href="home.aspx">Home</a></li>
                    <li>About-Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg-pri-c">
    <div class="container">
        <div class="bg-f rad-10">
            <div class="row">
                <div class="col-sm-5 selected">
                    <div class="list-gg"><img src="../scripts/Img/AbtUsPg/AbtUsPage-Imgs/Reborn.jpg" alt="image" class="w-full"></div>
                </div>
                <div class="col-sm-7">
                    <div class="p-30">
                        <div class="m-t-20"><h2 class="f-35 text-uppercase main-font">Overview</h2></div>
                        <p>If you’re looking for a reliable car garage in Islamabad, look no further than CarAstaniyan, specialists in a wide range of garage services including Car Servicing, Car Repairs, Air Conditioning, Clutch Replacements and Car Batteries in Islamabad.Established in 2018, we provide an honest and reliable service at all times, proud to be recognised as a highly reputable car garage in Islamabad.</p>
                        <div class="row row-m-10">
                            <div class="col-sm-4"><img src="../scripts/Img/AbtUsPg/AbtUs-OverView-pics/AbtAirfilter.png" alt="image" class="w-full"></div>
                            <div class="col-sm-4"><img src="../scripts/Img/AbtUsPg/AbtUs-OverView-pics/AbtCabinairfilter.png" alt="image" class="w-full"></div>
                            <div class="col-sm-4"><img src="../scripts/Img/AbtUsPg/AbtUs-OverView-pics/AbtOilchange.png" alt="image" class="w-full"></div>
                        </div>
                        <div class="m-t-20">
                            <p>Our Car mechanics are fully qualified and experienced in working with all types of vehicles, completing all work to the highest of standards at a very competitive price. Our mechanics are on hand to offer free, valuable advice on Car Servicing, Car Repairs, and Air Conditioning, and are happy to answer any questions you may have regarding your vehicle.</p>
                            <p>When working on your car, we will clearly explain all the options available to you, along with our personal recommendations.</p>
                            <p> At CarAstaniyan, we always offer a quote upfront and always make sure we obtain your approval prior to any work being carried out.We understand the frustration caused by not having your car, which is why our Car mechanics work efficiently to get your car back on the road in next to no time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog blog-list p-t-80 p-b-80 bg-1 bg-image-3">
    <div class="container" id="Service">
        <div class="title-group">
            <h2 class="line-default">Our Services</h2>
            <h4>CarAstaniyan offers variety of services to its customers, some of the basic services are listed below. </h4>
        </div>
        <div class="row">
            <!--Blog item-->
            <div class="col-sm-6">
                <div class="box no-bg">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box-date"><img src="../scripts/Img/AbtUsPg/AbtUs-Services-Icons/Checklist.png" alt="image" class="w-full"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="box-body">
                                <h3 class="box-heading"><a href="Appointment.aspx">Checklist</a></h3>
                                <p>Periodic Car Checkup & Updates.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box no-bg">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box-date"><img src="../scripts/Img/AbtUsPg/AbtUs-Services-Icons/Oil.png" alt="image" class="w-full"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="box-body">
                                <h3 class="box-heading"><a href="Appointment.aspx">Oil Changing</a></h3>
                                <p>Make an appointment to change your Oil.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box no-bg">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box-date"><img src="../scripts/Img/AbtUsPg/AbtUs-Services-Icons/OilFilter.png" alt="image" class="w-full"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="box-body">
                                <h3 class="box-heading"><a href="Appointment.aspx">Oil Filter</a></h3>
                                <p>We offer you variety of Oil filters, Air filters & Cabin filters.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box no-bg">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box-date"><img src="../scripts/Img/AbtUsPg/AbtUs-Services-Icons/Battery.png" alt="image" class="w-full"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="box-body">
                                <h3 class="box-heading"><a href="Appointment.aspx">Battery</a></h3>
                                <p>We provide Battery Change & Replacement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box no-bg">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box-date"><img src="../scripts/Img/AbtUsPg/AbtUs-Services-Icons/Diskbreak.png" alt="image" class="w-full"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="box-body">
                                <h3 class="box-heading"><a href="Appointment.aspx">Brake Pads </a></h3>
                                <p>Brake Pads Service & Replacement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box no-bg">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box-date"><img src="../scripts/Img/AbtUsPg/AbtUs-Services-Icons/Maintanence.png" alt="image" class="w-full"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="box-body">
                                <h3 class="box-heading"><a href="Appointment.aspx">Tune Up</a></h3>
                                <p>Car TuneUp to make your car fit & perform to its finest.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team bg-f5">
    <div class="container">
        <div class="title-group">
            <h2 class="line-default line-default-3">EXECUTIVE TEAM</h2>
        </div>
        <div class="row m-t-35">
            <div class="col-sm-4">
                <div class="box">
                    <a href="#" class="box-img">
                        <img src="../scripts/Img/AbtUsPg/AbtUs-ExectiveTeam-Imgs/UmaadHammed.png" alt="image">
                    </a>
                    <div class="box-body">
                        <h4 class="box-heading">Umaad Hameed</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <a href="#" class="box-img">
                        <img src="../scripts/Img/AbtUsPg/AbtUs-ExectiveTeam-Imgs/OsamaKarim.png" alt="image">
                    </a>
                    <div class="box-body">
                        <h4 class="box-heading">Osama Karim</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <a href="#" class="box-img">
                        <img src="../scripts/Img/AbtUsPg/AbtUs-ExectiveTeam-Imgs/ArslanSafeer.png" alt="image">
                    </a>
                    <div class="box-body">
                        <h4 class="box-heading">Arslan Safeer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

