
@{
    ViewBag.Title = "Cardetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner">
    <div class="box h-200 bg-image-13">
        <div class="box-overlay text-left">
            <div class="container">
                <h1 class="box-heading box-heading-md p-b-0">Car Details</h1>
                <ul class="breadcrumbs">
                    <li><a href="home.aspx">Home</a></li>
                    <li><a href="Cart.aspx">Car Details</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="p-b-0 bg-f5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box-1">
                    <h3 class="m-b-0">Categories</h3>
                    <ul class="list-g2">
                        <li><a href="#">Audi</a></li>
                        <li class="active">Bmw</li>
                        <li><a href="#">Daihatsu</a></li>
                        <li><a href="#">Faw</a></li>
                        <li><a href="#">Ford</a></li>
                        <li><a href="#">Honda</a></li>
                        <li><a href="#">Hyndai</a></li>
                        <li><a href="#">Kia</a></li>
                        <li><a href="#">Land Rover</a></li>
                        <li><a href="#">Lexus</a></li>
                        <li><a href="#">Mazda</a></li>
                        <li><a href="#">Mercedes</a></li>
                        <li><a href="#">Mitsubishi</a></li>
                        <li><a href="#">Nissan</a></li>
                        <li><a href="#">Renault</a></li>
                        <li><a href="#">Subaru</a></li>
                        <li><a href="#">Suzuki</a></li>
                        <li><a href="#">Toyota</a></li>
                    </ul>
                </div>
                <div class="m-t-30"></div>
            </div>
            <div class="col-sm-9">
                <div class="box-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Product-item -->
                            <div class="carousel slide article-slide" id="article-photo-carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner cont-slider">
                                    <div class="item active">
                                        <img alt="" title="" src="../scripts/DetailsAndRelatedImg/Corolla-Fuel-Filter_wm.jpg" class="w-full">
                                    </div>
                                    <div class="item">
                                        <img alt="" title="" src="../scripts/DetailsAndRelatedImg/5_2_wm.jpg" class="w-full">
                                    </div>
                                    <div class="item">
                                        <img alt="" title=" " src="../scripts/DetailsAndRelatedImg/aqua-toyota-genuine-air-filter_wm.jpg" class="w-full">
                                    </div>
                                    <div class="item">
                                        <img alt="" title="" src="../scripts/DetailsAndRelatedImg/civic-air-filter_wm.jpg" class="w-full">
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                                        <img alt="" src="../scripts/DetailsAndRelatedImg/aqua-toyota-genuine-air-filter_wm.jpg" ">
                                    </li>
                                    <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                                        <img alt="" src="http://placehold.it/250x180">
                                    </li>
                                    <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                                        <img alt="" src="../scripts/DetailsAndRelatedImg/aqua-toyota-genuine-air-filter_wm.jpg">
                                    </li>
                                    <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                                        <img alt="" src="../scripts/DetailsAndRelatedImg/civic-air-filter_wm.jpg">
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <!-- Product-item -->
                            <div class="m-t-xs-30">
                                <p></p>
                                <p></p>
                                <h1 class="f-30 p-t-0 selected">Honda Genuine Civic Air Filter</h1>
                                <p></p>
                                <ul class="list list-border text-left m-b-15">
                                    <li class="color-9"><p class="f-30 color-d00e0e f-bold">₨ 1,860 – ₨ 2,280</p></li>
                                    <li><b class="d-inline-block w-100">Color:</b>Black</li>
                                    <li><b class="d-inline-block w-100">Years:</b>2017</li>
                                </ul>
                                <div>
                                    <b class="d-inline-block w-100">Quantity:</b>
                                    <input type="number" class="form-item form-item-1x w-80" value="1">
                                </div>
                                <a href="CarAppointment.aspx" class="btn bg-d00e0e m-b-30">Interested</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-30">
                    <h3 class="f-25 p-t-0 line-default">Additional Information</h3>
                    <div class="box-1">
                        <div>
                            OEM PART NUMBER<br />
                            <strong>
                                17220-RIA-A01<br />
                                17220-RIA-A01<br />
                                17220-RNA-Y00<br />
                                17220-5BA-A00<br />
                                17220-5AA-A00<br />
                            </strong>
                            Genuine Honda Civic Air Filterat Best Price
                        </div>
                    </div>
                </div>
            </div>
</section>
<section class="product">
    <div class="container">
        <div class="title-group">
            <h2 class="line-default line-default-3">Product related</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="box">
                    <a class="box-img" href="CarDetails.aspx"><img src="../scripts/DetailsAndRelatedImg/5_2_wm.jpg" alt="image"></a>
                    <div class="box-body">
                        <h4 class="box-heading"><a href="#" class="border-left-5">Toyota Corolla Guard Oil Filter GDO-110A</a></h4>
                        <p class="color-9"></p>
                    </div>
                    <div class="box-footer"><div class="box-price">₨ 1,300</div></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="box">
                    <a class="box-img" href="CarDetails.aspx"><img src="../scripts/DetailsAndRelatedImg/aqua-toyota-genuine-air-filter_wm.jpg" alt="image"></a>
                    <div class="box-body">
                        <h4 class="box-heading"><a href="#" class="border-left-5">Genuine Toyota Aqua Air Filter 04152-YZZA6</a></h4>
                        <p class="color-9"></p>
                    </div>
                    <div class="box-footer"><div class="box-price">₨ 2,400</div></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="box">
                    <a class="box-img" href="CarDetails.aspx"><img src="../scripts/DetailsAndRelatedImg/Corolla-Fuel-Filter_wm.jpg" alt="image"></a>
                    <div class="box-body">
                        <h4 class="box-heading"><a href="#" class="border-left-5">Toyota Corolla Guard Oil Filter GDO-110A</a></h4>
                        <p class="color-9"></p>
                    </div>
                    <div class="box-footer"><div class="box-price">₨ 450</div></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="box">
                    <a class="box-img" href="CarDetails.aspx"><img src="../scripts/DetailsAndRelatedImg/gdo-133_wm.jpg" alt="image"></a>
                    <div class="box-body">
                        <h4 class="box-heading"><a href="#" class="border-left-5">Suzuki Daihatsu Guard Oil Filter GDO-133</a></h4>
                        <p class="color-9"></p>
                    </div>
                    <div class="box-footer"><div class="box-price">₨ 400</div></div>
                </div>
            </div>
        </div>
    </div>
</section>

