@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner">
    <div class="box h-200 bg-image-13">
        <div class="box-overlay text-left">
            <div class="container">
                <h1 class="box-heading box-heading-md p-b-0">Shopping Cart</h1>
                <ul class="breadcrumbs">
                    <li><a href="home.aspx">Home</a></li>
                    <li>Shopping-Cart</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-pri-c relative bg-f5">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-8 tb-res">
                    <div id="displayItems" class="min-w-800 p-b-30">
                        <div class="row grid-table-heading bg-fd">
                            <div class="col-xs-2 grid-item"></div>
                            <div class="col-xs-5 grid-item text-left"><b>Product name</b></div>
                            <div class="col-xs-2 grid-item text-left"><b>Quantity</b></div>
                            <div class="col-xs-2 grid-item"><b>Price</b></div>
                        </div>
                        @*
                        <div class="row grid-table">
                            <div class="col-xs-2 grid-item p-t-0 overl border-right-1x h-100">
                                <div class="p-10"><img src="../scripts/Products/Air Filter.png" alt="image" class="w-full"></div>
                            </div>
                            <div class="col-xs-5 grid-item product-name">
                                <h3 class="f-16 p-0"><a href="#">Air Filter</a></h3>
                                <p class="m-t-5 f-normal color-9 f-14">Model:ck8954752</p><br />
                            </div>
                            <div class="col-xs-2 grid-item"><input type="number" value="1" class="form-item form-item-1x"></div>
                            <div class="col-xs-2 grid-item"><b class="color-dc4c46">$120</b></div>
                            <div class="col-xs-1 grid-item"><i class="fa fa-remove"></i></div>
                        </div>

                <div class="row grid-table">
                    <div class="col-xs-2 grid-item p-t-0 overl border-right-1x">
                        <div class="p-10"><img src="../scripts/Products/SparkPlug.png" alt="image" class="w-full"></div>
                    </div>
                    <div class="col-xs-5 grid-item product-name">
                        <h3 class="f-16 p-0"><a href="#">Spark Plug</a></h3>
                        <p class="m-t-5 f-normal color-9 f-14">Model: C7hsa</p><br />
                    </div>
                    <div class="col-xs-2 grid-item"><input type="number" value="1" class="form-item form-item-1x"></div>
                    <div class="col-xs-2 grid-item"><b class="color-dc4c46">$5</b></div>
                    <div class="col-xs-1 grid-item"><i class="fa fa-remove"></i></div>
                </div>
                <div class="row grid-table">
                    <div class="col-xs-2 grid-item p-t-0 overl border-right-1x">
                        <div class="p-10"><img src="../scripts/Products/civicAlloyRims.png" alt="image" class="w-full"></div>
                    </div>
                    <div class="col-xs-5 grid-item product-name">
                        <h3 class="f-16 p-0"><a href="#">Alloy Rims</a></h3>
                        <p class="m-t-5 f-normal color-9 f-14">Model: SP-0147</p>
                    </div>
                    <div class="col-xs-2 grid-item"><input type="number" value="1" class="form-item form-item-1x"></div>
                    <div class="col-xs-2 grid-item"><b class="color-dc4c46">$6700</b></div>
                    <div class="col-xs-1 grid-item"><i class="fa fa-remove"></i></div>
                </div>*@

                        <a id="continueShopping" href="@Url.Action("Index","Home")" class="btn bg-2 m-t-20">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-1">
                        <h3 class="line-default selected">Discount code</h3>
                        <p>Enter a coupon code below to apply to this order</p>
                        <form><input type="text" class="form-item" placeholder="Code"></form>
                        <a href="#" class="btn bg-4">Apply</a>
                    </div>
                    <div class="box-1">
                        <h3 id="total-1" class="line-default">Total: </h3>
                        <ul class="list list-border m-b-10">
                            <li><b class="d-inline-block w-120">Subtotal:</b></li>
                            <li><b class="d-inline-block w-120">Ship cost:</b> </li>
                            <li><b class="d-inline-block w-120">Taxt:</b> </li>
                            <li><b class="d-inline-block w-120">Coupon code:</b></li>
                        </ul>
                        <p class="cart-total"><b class="color-3 d-inline-block w-120">Total:</b><span id="total-2"></span></p>
                        <a href="@Url.Action("Checkout","Home")" class="btn bg-dc4c46">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
<script type="text/javascript" src="~/Scripts/scripts/cart.js"></script>
}