
@{
    ViewBag.Title = "TrackShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner">
    <div class="box h-200 bg-image-13">
        <div class="box-overlay text-left">
            <div class="container">
                <h1 class="box-heading box-heading-md p-b-0">Track-Shipment</h1>
                <ul class="breadcrumbs">
                    <li><a href="home.aspx">Home</a></li>
                    <li>Track-Shipment</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-pri-c relative bg-f5">
    <div class="container">
        <div class="box-1 p-50">
            <div class="row">
                <h3 class="line-default f-30 selected">Track-Shipping</h3>
                <section class="card card-lg" id="about-about">
                    <p>Tracking shipments has become extremely convenient due to the help of our distribution partner TCS and M&amp;P, which has now offered the service to track the ordered product(s) on any given time.</p>
                    <p>Once a consignment is with TCS or M&amp;P, our customers can track their shipment at any period of the transit through various tools provided by TCS or M&amp;P which enables one to know the whereabouts of their shipment, even to figure by whom the shipment was received and at what time and date. A customer can select a TCS or M&amp;P Tracking Tool from the choices offered to receive updates and current status of their shipment any time they want to know the status.</p>
                </section>
            </div>
        </div>
</section>
